<footer class="mt-72 px-6">
  <div
    class="w-full h-[1px] bg-gradient-to-r from-black via-[#ffffff69] to-black bg-[length:5%_80%_5%]"
  ></div>
  <div class="py-24 flex flex-col justify-center">
    <h2 class="w-1/2 mx-auto text-5xl text-center leading-[1.1]">
      Prêt à prendre soin de votre véhicule ? Rejoignez-nous dès maintenant !
    </h2>
    <p class="opacity-60 font-light text-sm text-center mt-4">
      Connectez-vous pour accéder à tous nos services et profiter de nos offres
      exclusives !
    </p>
    <div class="mx-auto">
      <button class="bg-white px-5 py-2 mt-8 rounded text-black cursor-pointer">
        Se connecter
      </button>
    </div>
  </div>
  <div
    class="w-full h-[1px] bg-gradient-to-r from-black via-[#ffffff69] to-black bg-[length:5%_80%_5%]"
  ></div>
  <div class="pt-12">
    <div class="flex">
      <div class="w-2/12 flex flex-col">
        <h3 class="uppercase text-xs opacity-50">Sitemap</h3>
        <div class="mt-8 flex flex-col gap-1 text-sm font-light">
          <p>Accueil</p>
          <p>Abonnements</p>
          <p>Connexion</p>
          <p>Inscription</p>
        </div>
      </div>
      <div class="w-3/12 flex flex-col">
        <h3 class="uppercase text-xs opacity-50">Compagnie</h3>
        <div class="mt-8 flex flex-col gap-1 text-sm font-light">
          <p>Termes & Conditions</p>
          <p>Politique de confidentialité</p>
        </div>
      </div>
      <div class="w-2/12 flex flex-col">
        <h3 class="uppercase text-xs opacity-50">Contact</h3>
        <div class="mt-8 flex flex-col gap-1 text-sm font-light">
          <p>FAQ</p>
        </div>
      </div>
      <div class="w-4/12 ml-auto flex flex-col">
        <h3 class="uppercase text-xs opacity-50">Equipe</h3>
        <div class="mt-8 flex flex-col gap-1 text-sm font-light">
          <p>SOLOARIJAONA Paul Ferdinah</p>
          <p>ANDRIANJAKATSIHOARANA Tony Rakotondrazaka</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full mt-48 pb-8 flex justify-between uppercase text-sm opacity-50"
  >
    <p>2025, Vroom, tous droits réservés</p>
    <p>Codé par Paul et Tony</p>
  </div>
</footer>
