<div class="mt-72">
  <h2
    id="subscription-title"
    class="w-1/2 mx-auto text-5xl text-center leading-[1.1]"
  >
    Optez pour un abonnement et profitez d'avantages exclusifs pour l'entretien
    de votre véhicule.
  </h2>
  <div id="subscriptions" class="mt-12 px-36 grid grid-cols-2 gap-6">
    <div class="py-16 pb-8 px-8 bg-[#111] rounded-lg border border-[#333]">
      <h2 class="text-6xl text-center font-light">25$ / mois</h2>
      <div
        class="mt-4 flex items-center w-full uppercase text-sm gap-4 font-light"
      >
        <div
          class="flex-1 h-[1px] bg-gradient-to-r from-[#0000] to-white"
        ></div>
        <p>Abonnement mensuel</p>
        <div
          class="flex-1 h-[1px] bg-gradient-to-l from-[#0000] to-white"
        ></div>
      </div>
      <div class="flex w-fit mx-auto p-1 bg-[#222] mt-16 relative text-sm">
        <div class="py-2 px-3 bg-[#333] cursor-pointer">Mensuel</div>
        <div class="py-2 px-3 cursor-pointer">Annuel</div>
      </div>
      <p class="mt-8 text-center">
        <span class="opacity-60"
          >Avec un abonnement mensuel, bénéficiez de
        </span>
        <span class="">5% de remise </span>
        <span class="opacity-60"
          >sur chaque service effectué dans notre garage. Profitez d'économies
          tout au long de l'année tout en assurant un entretien régulier et de
          qualité pour votre véhicule.</span
        >
      </p>
      <div class="mt-0 w-full">
        <button
          class="bg-white w-full py-3 mt-8 rounded text-black cursor-pointer"
        >
          S’abonner dès maintenant
        </button>
      </div>
    </div>
    <div
      class="py-16 pb-8 px-8 bg-[#eee] rounded-lg border border-[#ddd] text-black"
    >
      <h2 class="text-6xl text-center font-light">499$</h2>
      <div
        class="mt-4 flex items-center w-full uppercase text-sm gap-4 font-light"
      >
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#eee] to-black"></div>
        <p>Abonnement à vie</p>
        <div class="flex-1 h-[1px] bg-gradient-to-l from-[#eee] to-black"></div>
      </div>
      <div class="flex w-fit mx-auto p-1 bg-[#ddd] mt-16 relative text-sm">
        <div class="py-2 px-3 bg-[#ccc] cursor-pointer">
          Paiement en une fois
        </div>
      </div>
      <p class="mt-8 text-center">
        <span class="opacity-60">Avec un abonnement à vie, bénéficiez de </span>
        <span class="">10% de remise </span>
        <span class="opacity-60"
          >sur tous vos services sans limite de temps. Roulez l’esprit
          tranquille en profitant d’un entretien fiable et économique, tout en
          ayant accès à des avantages exclusifs.</span
        >
      </p>
      <div class="mt-0 w-full">
        <button
          class="bg-[#222] w-full py-3 mt-8 rounded text-white cursor-pointer"
        >
          Économisez -10% à vie
        </button>
      </div>
    </div>
  </div>
</div>
