<div class="absolute -z-10 top-0 left-0 w-full h-full pointer-events-none">
  <img
    src="/images/hero.webp"
    alt="Section hero"
    class="w-full h-full object-cover"
  />
</div>
<div
  class="h-screen w-screen flex items-center relative bg-gradient-to-b from-[#0000002c] to-[#000000]"
>
  <div
    id="hero-tags-wrapper"
    class="w-1/4 h-full px-8 flex flex-col gap-1 justify-center opacity-90"
  >
    <hero-tags />
  </div>
  <div class="w-3/4 h-full py-8 flex flex-col justify-between">
    <div></div>
    <hero-title />
    <hero-descriptiion />
  </div>
</div>
