<div class="flex items-center gap-4 text-sm">
  <div class="flex gap-2.5 items-center">
    <span
      class="p-1 bg-[#222] rounded cursor-pointer"
      [ngClass]="{ 'opacity-50 pointer-events-none': quantitySignal()() === 0 }"
      [attr.tabindex]="quantitySignal()() === 0 ? '-1' : null"
    >
      <lucide-angular [img]="minus" class="h-4 w-4"></lucide-angular>
    </span>
    <span>{{ quantitySignal()() }}</span>
    <span class="p-1 bg-[#222] rounded cursor-pointer">
      <lucide-angular [img]="plus" class="h-4 w-4"></lucide-angular>
    </span>
  </div>
</div>
