<div
  class="relative p-4 text-sm bg-[#111] border border-[#333] rounded-lg cursor-pointer duration-200 hover:border-[#555]"
>
  <div class="w-full flex items-center gap-4">
    <div
      class="h-12 aspect-square rounded-full bg-[#222] flex items-center justify-center"
    >
      <lucide-angular [img]="carIcon" class="h-5 w-5 opacity-80" />
    </div>
    <div class="w-full flex flex-col mt-1">
      <div class="w-full flex items-end gap-4">
        <p>{{ car().model }}</p>
        <badge color="gray" class="mb-[0.39px]" text="Non déposée" />
      </div>
      <p class="opacity-70">
        {{ car().id_brand_vehicle.label }} - {{ car().id_type_vehicle.label }}
      </p>
    </div>
  </div>
  <div class="w-full flex gap-2 mt-4">
    <div class="bg-[#252525] px-3 py-1 rounded-xl flex items-center gap-2">
      <lucide-angular [img]="tag" class="h-3 w-3 opacity-80" />
      <p class="opacity-70">{{ car().registration_number }}</p>
    </div>
    <div class="bg-[#252525] px-3 py-1 rounded-xl flex items-center gap-2">
      <lucide-angular [img]="hourglass" class="h-3 w-3 opacity-80" />
      <p class="opacity-70">{{ car().year }}</p>
    </div>
  </div>
  <div class="mt-6 opacity-50">
    <p>Dernière réparation</p>
    <p>Pas encore réparé</p>
  </div>
  <!-- <div
    class="p-1.5 hover:bg-[#222] rounded absolute right-4 top-4 duration-200"
  >
    <lucide-angular [img]="ellipsis" class="h-5 w-5 opacity-70" />
  </div> -->
</div>
