<div
  class="relative p-4 text-sm bg-[#111] border border-[#333] rounded-xl cursor-pointer duration-200 hover:border-[#555]"
>
  <div class="w-full flex items-center gap-4">
    <div
      class="h-12 aspect-square rounded-full bg-[#222] flex items-center justify-center"
    >
      <lucide-angular [img]="car" class="h-5 w-5 opacity-80" />
    </div>
    <div class="flex flex-col mt-1">
      <p>992 GT3RS</p>
      <p class="opacity-70">Porsche - Sportive</p>
    </div>
  </div>
  <div class="w-full flex gap-2 mt-4">
    <div class="bg-[#252525] px-3 py-1 rounded-xl flex items-center gap-2">
      <lucide-angular [img]="tag" class="h-3 w-3 opacity-80" />
      <p class="opacity-70">10543 WWT</p>
    </div>
    <div class="bg-[#252525] px-3 py-1 rounded-xl flex items-center gap-2">
      <lucide-angular [img]="hourglass" class="h-3 w-3 opacity-80" />
      <p class="opacity-70">2020</p>
    </div>
  </div>
  <div class="mt-6 opacity-50">
    <p>Dernière réparation</p>
    <p>Il y a 9 jours</p>
  </div>
  <!-- <div
    class="p-1.5 hover:bg-[#222] rounded absolute right-4 top-4 duration-200"
  >
    <lucide-angular [img]="ellipsis" class="h-5 w-5 opacity-70" />
  </div> -->
</div>
