<div tableComponent>
  <thead tableHeader>
    <tr tableRow>
      <th tableHead class="w-80">Identifiant</th>
      <th tableHead>Intitulé</th>
      <th tableHead class="w-30"></th>
    </tr>
  </thead>
  <tbody tableBody>
    @if (isLoading()) { @for (skill of ["", "", "", "", "",]; track $index) {
    <tr tableRow>
      <td tableCell><skeleton /></td>
      <td tableCell><skeleton /></td>
      <td tableCell><skeleton class="ml-auto" /></td>
    </tr>
    } } @else { @for (skill of skills(); track $index) {
    <tr tableRow>
      <td tableCell>{{ skill._id }}</td>
      <td tableCell>{{ skill.label }}</td>
      <td tableCell class="flex items-center justify-end">
        <popover [id]="'skill-popover-' + skill._id">
          <popover-trigger class="flex items-center mt-0.5">
            <lucide-angular [img]="ellipsis" class="h-4 w-4 scale-120" />
          </popover-trigger>
          <popover-content class="w-40" origin="right">
            <div popoverItemsContainer>
              <popover-close>
                <div
                  popoverItem
                  (click)="openUpdate(skill)"
                  [icon]="settings"
                  label="Modifier"
                ></div>
              </popover-close>
              <div
                (click)="handleDelete(skill)"
                popoverItem
                [icon]="trash"
                label="Supprimer"
              ></div>
            </div>
          </popover-content>
        </popover>
      </td>
    </tr>
    } }
  </tbody>
</div>
@if (isUpdating() && defaultSkillToUpdate()) {
<skill-update
  (close)="closeUpdate()"
  (afterSubmit)="afterChange.emit()"
  [skill]="defaultSkillToUpdate()"
/>
}
