<div tableComponent>
  <thead tableHeader>
    <tr tableRow>
      <th tableHead class="w-80">Identifiant</th>
      <th tableHead>Intitulé</th>
    </tr>
  </thead>
  <tbody tableBody>
    @if (isLoading()) { @for (skill of ["", "", "", "", "",]; track $index) {
    <tr tableRow>
      <td tableCell><skeleton /></td>
      <td tableCell><skeleton /></td>
      <td tableCell></td>
    </tr>
    } } @else { @for (skill of skills(); track $index) {
    <tr tableRow>
      <td tableCell>{{ skill._id }}</td>
      <td tableCell>{{ skill.label }}</td>
      <td tableCell class="flex justify-end">
        <popover>
          <popover-trigger>Menu</popover-trigger>
          <popover-content class="w-40" origin="right">
            <div popoverItemsContainer>
              <div popoverItem [icon]="settings" label="Modifier"></div>
              <div popoverItem [icon]="trash" label="Supprimer"></div>
            </div>
          </popover-content>
        </popover>
      </td>
    </tr>
    } }
  </tbody>
</div>
