<div
  class="relative p-4 text-sm bg-[#111] border border-[#333] rounded-lg cursor-pointer duration-200 hover:border-[#555]"
>
  <div class="flex gap-4 items-center">
    <div class="relative h-12 aspect-square">
      <div
        class="absolute inset-0 z-10 flex items-center justify-center rounded-full aspect-square text-xs"
      >
        84
      </div>
      <svg
        stroke-linecap="round"
        class="quote-card-svg h-12 w-12"
        viewBox="0 0 48 48"
      >
        <circle class="stroke-orange-500" cx="24" cy="24" r="22" fill="#222" />
      </svg>
    </div>
    <div class="mt-1">
      <div class="flex items-end gap-4">
        <p>{{ quote().label }}</p>
        <div class="-mt-[1.1px]">
          <quote-status [quote]="quote()" />
        </div>
      </div>
      <p class="opacity-70 mt-0.5">{{ quote().created_at | formatDate }}</p>
    </div>
  </div>
  <div class="mt-6 w-full flex items-end justify-between">
    <p class="opacity-70 mb-0.5">{{ quote().id_vehicle.model }}</p>
    <p class="text-xl">{{ quote().price_total | numberFormat }} $</p>
  </div>
  <a href="/manager/overview/{{ quote()._id }}" class="absolute inset-0"></a>
</div>
