<div [formGroup]="form()" class="flex flex-col gap-1">
  <label for="{{ id() }}" class="opacity-70 text-sm w-fit">{{ label() }}</label>
  <input
    id="{{ id() }}"
    type="{{ type() }}"
    class="w-96 h-10 px-2.5 rounded-md border border-[#444] outline-none duration-200 focus:border-[#888]"
    formControlName="{{ controlName() }}"
  />
  @for (message of messages(); track $index) { @if (isSubmitted() &&
  form().get(controlName())?.hasError(message.validator)) {
  <p class="text-sm text-red-400">{{ message.message }}</p>
  } }
</div>
