<div class="px-6 py-5 border border-[#333] rounded-lg">
  <h3 class="text-xl">Mécaniciens</h3>
  <p class="text-sm opacity-70 mt-1">
    Gérez la liste des employés dans cette section pour avoir les statistiques
    sur le personnel
  </p>
  <div class="w-full mt-6">
    <employees-list
      [employees]="employees()"
      [isLoading]="isFindLoading()"
      (afterChange)="findAll()"
    />
    <div class="mt-4 w-full flex justify-between items-center">
      <button-component
        (click)="toggleSave()"
        class="w-fit flex gap-1 items-center"
        variant="default"
        size="sm"
      >
        <lucide-angular [img]="award" class="h-4 w-4" />
        <p class="leading-none">Enregistrer</p>
      </button-component>
      @if (!isFindLoading()) {
      <page-pagination
        prefix="/manager/mechanics/employees"
        [pageable]="pageable()"
        [currentPage]="page"
      />
      }
    </div>
  </div>
  @if (isSave()) {
  <employee-save (close)="toggleSave()" (afterSubmit)="findAll()" />
  }
</div>
