<section class="mt-72 px-12">
  <h2 class="w-1/2 mx-auto text-5xl text-center">
    Nos services, votre satisfaction
  </h2>
  <p class="w-1/2 mt-6 mx-auto text-center opacity-60 font-light">
    Découvrez nos services conçus pour entretenir, réparer et optimiser votre
    véhicule. De l’entretien courant aux réparations avancées, notre équipe de
    professionnels est là pour garantir votre tranquillité sur la route.
  </p>
  <div class="flex flex-col gap-6 mt-12">
    <div class="grid grid-cols-2 gap-6">
      <div class="bg-[#111] rounded-lg border border-[#333]">
        <div class="p-6">
          <h3 class="text-2xl">Vidange et entretien régulier</h3>
          <p class="opacity-60 font-light text-sm mt-4 w-4/5">
            La vidange est une opération essentielle pour assurer la longévité
            et les performances du moteur. Elle consiste à remplacer l’huile
            moteur et le filtre à huile afin d’éviter l’accumulation d’impuretés
            et de garantir une lubrification optimale.
          </p>
        </div>
        <div class="w-full aspect-[16/7] relative">
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-[1%] from-[#111] to-[#0000]"
          ></div>
          <img
            src="/images/oil-change.webp"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <div class="bg-[#111] rounded-lg border border-[#333]">
        <div class="p-6">
          <h3 class="text-2xl">Diagnostic électronique et réparations</h3>
          <p class="opacity-60 font-light text-sm mt-4 w-4/5">
            Les véhicules modernes sont équipés de systèmes électroniques
            avancés. Grâce à un appareil de diagnostic, le garage peut analyser
            et détecter rapidement les problèmes du moteur, du freinage, de la
            batterie ou des capteurs électroniques.
          </p>
        </div>
        <div class="w-full aspect-[16/7] relative">
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-[1%] from-[#111] to-[#0000]"
          ></div>
          <img
            src="/images/diagnostic.webp"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-6">
      <div class="bg-[#111] rounded-lg border flex flex-col border-[#333]">
        <div class="w-full flex-1 relative">
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[1%] from-[#111] to-[#0000]"
          ></div>
          <img src="/images/brake.webp" class="w-full h-full object-cover" />
        </div>
        <div class="p-6 mt-auto">
          <h3 class="text-2xl">Réparation des freins</h3>
          <p class="opacity-60 font-light text-sm mt-4">
            Le système de freinage est un élément de sécurité crucial. Le garage
            propose l’entretien et le remplacement des plaquettes de frein,
            disques, liquide de frein et étriers pour garantir un freinage
            optimal.
          </p>
        </div>
      </div>
      <div class="bg-[#111] col-span-2 rounded-lg border border-[#333]">
        <div class="p-6">
          <h3 class="text-2xl">Réparation des pneus</h3>
          <p class="opacity-60 font-light text-sm mt-4 w-4/5">
            Des pneus en bon état assurent une meilleure adhérence et stabilité
            sur la route. Le garage propose le remplacement des pneus usés,
            l’équilibrage et le parallélisme pour éviter une usure prématurée et
            garantir un confort de conduite.
          </p>
        </div>
        <div class="w-full aspect-[16/7] relative">
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-[1%] from-[#111] to-[#0000]"
          ></div>
          <img src="/images/tyre.webp" class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="bg-[#111] rounded-lg border flex flex-col border-[#333]">
        <div class="w-full flex-1 relative">
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[1%] from-[#111] to-[#0000]"
          ></div>
          <img
            src="/images/climatization.webp"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6 mt-auto">
          <h3 class="text-2xl">Entretien climatisation</h3>
          <p class="opacity-60 font-light text-sm mt-4">
            Un bon fonctionnement de la climatisation est essentiel pour le
            confort des passagers, surtout en été. Le garage propose la
            vérification, l’entretien et la recharge du gaz réfrigérant pour
            garantir une climatisation efficace.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
