<div class="px-6 py-5 border border-[#333] rounded-lg">
  <h3 class="text-xl">Catégories de services</h3>
  <p class="text-sm opacity-70 mt-1">
    Les catégories de services permettent de classifier et de distinquer les
    services du garage
  </p>
  <div class="w-full mt-6">
    <service-categories-list
      [serviceCategories]="serviceCategories()"
      [isLoading]="isFindLoading()"
      (afterChange)="findAll()"
    />
    <div class="mt-4 w-full flex justify-between items-center">
      <button-component
        (click)="toggleSave()"
        class="w-fit flex gap-2 items-center"
        variant="default"
        size="sm"
      >
        <lucide-angular [img]="briefCase" class="h-4 w-4" />
        <p class="leading-none">Enregistrer</p>
      </button-component>
      <state-pagination
        (change)="findAll()"
        [pageSignal]="page"
        [pageable]="pageable()"
      />
    </div>
  </div>
  @if (isSave()) {
  <service-category-save (close)="toggleSave()" (afterSubmit)="findAll()" />
  }
</div>
